{% extends "core/base.html" %} {% load static %}
{% block tittle %}Cambio de contraseña{% endblock %}

{% block content %} 

<main id="main" class="main">
    
    
    <div class="pagetitle">
        <h1>Cambiar constraseña</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item">Perfil de usuario</li>
            <li class="breadcrumb-item active">Cambiar Contraseña</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center text-center">
                        {% if user.foto %}
                        <img src="{{ user.foto.url }}" alt="Profile" class="rounded-circle border" height="200px">
                        {% else %}
                        <img src="{% static 'core/img/soldier-(1).png' %}" alt="Profile" class="rounded-circle" height="200px">
                        {% endif %}               
                        <h2 class="text-capitalize">{{ user.nombre }} {{ user.apellido_paterno }} {{ user.apellido_materno }}</h2>
                        <h3>{{ user.grado }}</h3>
                    </div>
                </div>
                

            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Cambio de Contraseña</button>
                        </li>     
                        </ul>
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-overview"> 
                                <form method="post">
                                    {% if messages %}
                                        <div class="container mt-2">
                                            {% for message in messages %}
                                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="row pt-2">
                                        <label for="{{ form.old_password.id_for_label }}" class="col-lg-3 col-md-4 label">Contraseña actual</label>
                                        <div class="col-lg-9 col-md-8">
                                            <input placeholder="Contraseña actual" 
                                                name="{{ form.old_password.name }}" 
                                                type="password"
                                                class="form-control {% if form.old_password.errors %}is-invalid{% endif %}"
                                                id="{{ form.old_password.id_for_label }}" required>
                                            {% if form.old_password.errors %}
                                                <div class="invalid-feedback d-block">
                                                    {{ form.old_password.errors|join:", " }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                    <div class="row pt-2">
                                        <!-- Nueva Contraseña -->
                                        <label for="{{ form.new_password1.id_for_label }}" class="col-lg-3 col-md-4 label">Nueva Contraseña</label>
                                        <div class="col-lg-9 col-md-8">
                                            <input placeholder="Nueva contraseña" 
                                                name="{{ form.new_password1.name }}"
                                                type="password"
                                                class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                                                id="{{ form.new_password1.id_for_label }}" required>
                                            {% if form.new_password1.errors %}
                                                <div class="invalid-feedback d-block">
                                                    {{ form.new_password1.errors|join:", " }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row pt-2">
                                        <!-- Confirmar Nueva Contraseña -->                            
                                        <label for="{{ form.new_password2.id_for_label }}" class="col-lg-3 col-md-4 label">Confirmar Nueva Contraseña</label> 
                                        <div class="col-lg-9 col-md-8">
                                            <input placeholder="Nueva contraseña" 
                                                name="{{ form.new_password2.name }}"
                                                type="password"
                                                class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                                                id="{{ form.new_password2.id_for_label }}" required>
                                            {% if form.new_password2.errors %}
                                                <div class="invalid-feedback d-block">
                                                    {{ form.new_password2.errors|join:", " }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                   
                                        <div class="col-8 mb-3">
                                            <button type="submit" class="btn btn-primary ">
                                                <span>Actualizar Contraseña</span>
                                            </button>
                                            <a class="btn btn-secondary" href="{% url 'profile' %}"> volver</a>                                
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   




</main><!-- End #main -->

{% endblock %}


{% block extra_js %}
<script src="{% static 'core/js/eyes_slash.js' %}"></script>
{% endblock %}